<h1>
  <strong>
    <%= @item.name %>
  </strong>
</h1>
<p>
  <%= @item.price %>
</p>

<h2>Traders</h2>
<%= render @item.traders %>

<%= render 'traders/form' %>

<p>
  <%= link_to "Edit this item", edit_item_path(@item) %>
</p>

<%= link_to "Delete item",
  item_path(@item),
  data: {
    turbo_method: :delete,
    turbo_confirm: "Are you sure?"
  } 
%>

<p>
  <%= link_to "Back to items", items_path %>
</p>